/* Basic Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@media (max-width: 490px) {
    * {
        font-size: small;
    }
}

:root {
    --logo-color: gold;
    --link-color: ;
    --links: rgb(232, 198, 2);
    --bg-color: rgb(26, 105, 58);
    --pry-color: rgb(174, 72, 72);
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: var(--bg-color);
    color: #000;
}
/* End */


/* CA Logo Design */
.logo-wrapper {
    width: 80px;
    height: 40px;
    margin-left: 1.8rem;
    background: #000;
    margin-top: 0.5rem;
    border-radius: 5px;
}

@media (max-width: 490px) {
    .logo-wrapper {
        margin-top: 0.4rem;
        width: 70px;
        height: 35px;
    }
}

.logo-img {
    width: 30px;
    height: 30px;
    margin-left: 6px;
    margin-top: 4px;
}

.logo-wrapper .first, .second {
    position: absolute;
    top: 6px;
    left: 4rem;
    width: 10px;
    height: 20px;
    background: var(--bg-color);
    border-radius: 50%;
}

.second {
    top: 30px;
}

@media (max-width: 490px) {
    .logo-img {
        width: 25px;
        height: 25px;
    }
    .logo-wrapper .first, .second {
        width: 8px;
        height: 18px;
        top: 2px;
        left: 4.15rem;
    }
    .second {
        top: 25px;
    }
}
/* End */

/* Container */
.container {
    padding: 1rem;
    width: 90%;
    display: block;
    margin: 3rem auto;
    border: 0px solid #000;
    box-shadow: 0px 0px 3px 3px rgb(26, 24, 24);
    border-radius: 20px;
    background: #fff;
}

/*
.un, .deux, .trois, .quatre, .cinq, .six {
    position: absolute;
    background: var(--pry-color);
    width: 100px;
    height: 50px;
    z-index: 0;
}

.un {
    top: 20rem;
    left: 6rem;
}

.container-wrapper {
    z-index: 100;
}
*/

.container p {
    text-align: left;
    font-size: 1.2rem;
}

.container h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* Courses Cards Design */
.courses-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    column-gap: 2rem;
    row-gap: 1.5rem;
}

.courses-wrapper p {
    display: flex;
}

.courses-wrapper p a, .courses-wrapper p .two {
    width: 130px;
    height: 150px;
    padding: 0 0.5rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    color: #000;
    border: 3px ridge #000;
    font-weight: 600;
    animation: course-link 3s linear 1;
    animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.two {
    animation-name: two;
}

@keyframes course-link {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }
}

@keyframes two {
    0% {
        transform: scale(5) translate(-50%, 0);
    }
}

.courses-wrapper p a:hover{
    transform: translateY(-3px) scale(1);
    transition: transform 0.5s ease-in;
}

.courses-wrapper p a img{
    display: block;
    margin: 10px auto;
    margin-bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}