* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --logo-color: gold;
    --nav-color: rgb(174, 72, 72);
    --links: rgb(232, 198, 2);
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Beginning of navigation setup */

nav {
    position: fixed;
    background: var(--nav-color);
    height: 4rem;
    width: 95%;
    left: 2.5%;
    border-radius: 10px 10px 0px 0px;
    z-index: 10;
}

.logo {
    color: var(--logo-color);
    font-size: 1.8rem;
    line-height: 4rem;
    padding: 0 3rem 0 2rem;
    font-weight: bold;
}

.menu-icon {
    font-weight: 700;
    border-radius: 5px;
    background: var(--links);
    color: #000;
    padding: 6px;
    display: none;
}

.menu-icon:hover {
    background: rgb(149, 130, 23);
    color: #000;
}

.links {
    float: right;
    margin-right: 1.3rem;
}

.links a {
    display: inline-block;
    margin: 1rem 0.3rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 3px;
}

.links a:active, a:hover {
    background: var(--logo-color);
    transition: 0.7s;
    color: #000;
}

.check-btn {
    color: #fff;
    float: right;
    margin-right: 2.5rem;
    cursor: pointer;
}

#check {
    display: none;
}

.container {
    position: relative;
    width: 95%;
    height: 90vh;
    background: #000;
    display: block;
    margin: 0 auto;
    top: 4.2rem;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: var(--logo-color);
}

.letters-wwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.letters {
    width: 30px;
    height: 30px;
}

.start {
    display: block;
    margin-top: 2rem;
    background: greenyellow;
    color: #000;
    font-size: 1.3rem;
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid greenyellow;
}

.start:hover {
    border: var(--links);
    padding: 7px;
}

@media (max-width: 960px) {
    .check-btn {
        display: block;
    }
    .links {
        position: fixed;
        width: 95%;
        border-radius: 0px 0px 10px 10px;
        height: 90vh;
        background: rgb(172, 150, 26);
        top: 80px;
        left: -100%;
        opacity: 95%;
        text-align: center;
        transition: all .5s;
        overflow: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    .links::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    .links a {
        display: flex;
        justify-content: center;
        padding: 0.5rem 1rem;
        margin: 3rem 0;
        line-height: 2rem;
        font-size: 1.2rem;
    }
    .links a:hover, .link a:active {
        background: none;
    }
    #check:checked ~ .links {
        top: 4.23rem;
        left: 2.5%;
    }
    .menu-icon {
        display: block;
        margin-top: 1rem;
    }
    .menu-icon::content {
        transform: rotate(90deg);
    }
}

@media (max-width: 481px) {
    * {
        font-size: small;
    }
    .logo {
        font-size: 1.5rem;
    }
    .links {
        top: 65px;
    }
}
/* End of navigation setup */