*,::before,::after{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size: 16px;
}

body{
    background-color: #fff;
    color: linen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
}

:root{
    --general-color: black;
    --general-color2: #fff;
    --title-color: orangered;
    --title-color2: #daa502;
    --color1: darkslateblue; 
    --color2: darkolivegreen;
    --color3: brown;
    --color4: blue;
    --color6: #808080;
}

#header{
    width: 100vw;
    position: fixed;
    z-index: 1;
}

.nav-wrapper{
    display: flex;
    align-items: center;
    background-color: var(--general-color);
}
#header-img{
    width: 3rem;
    height: 50px;
}

@media (max-width: 768px) {
    #header-img{
        width: 2.3rem;
    }
}

#header p{
    font-size: 2.3rem;
    color: var(--title-color);
    font-weight: bolder;
    letter-spacing: 0.7px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1vh;
    margin-bottom: 1vh;
    justify-content: flex-start;
}

@media (max-width: 768px){
    #header p{
        font-size: 1.2rem;
    }
}

#nav-bar{
    display: flex;
    padding-top: 0.5vh;
    width: 100vw;
    justify-content: space-evenly;
}

.nav-link{
    display: block;
    text-decoration: none;
    color: var(--general-color);
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(
        180deg,
        var(--color6),
        var(--general-color),
        var(--color6)
    );
    margin-bottom: 0.6vh;
    width: 14vw;
}

figcaption{
    color: #fff;
    margin-top: 0.2vh;
    text-align: center;
    font-weight: bolder;
}

.nav-link:hover{
    background: linear-gradient(
        90deg,
        var(--color6),
        var(--general-color),
        var(--color6)
    );
    border: 0px solid #000;
}

.nav-logo{
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

@media (max-width: 768px){
    .nav-logo{
    width: 30px;
    height: 30px;
    }
}

.nav-logo:hover{
    background: linear-gradient(
        180deg,
        var(--color5),
        var(--color6),
        var(--color5)
    );
    border: 0px solid #000;
    border-radius: 10px;
}

#home{
    background: var(--color1);
    font-weight: bolder;
    position: relative;
    top: 6vh;
    padding-top: 5vh;
    padding-bottom: 4vh;
}

.home-wrapper{
    width: 80%;
    display: block;
    margin: 0 auto;
    line-height: normal;
}

#description{
    padding-top: 2rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bolder;
}

@media (max-width: 768px){
    #description{
        font-size: 1.2rem;
    }
}

.recognized-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vh;
}

.recognized{
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
.recognized h1{
    font-size: 1.2rem;
    }
}

.logo{
    width: 60px;
    height: 60px;
}

@media (max-width: 768px){
    .logo{
        width: 30px;
        height: 30px;
    }
}

.link p{
    text-align: center;
}

#start-link, #top{
    font-size: 2rem;
    color: var(--general-color2);
    background-color: var(--general-color);
    border: 1px solid var(--general-color);
    border-radius: 10px;
    text-decoration: none;
    padding: 1% 1.3%;
    display: inline-block;
    margin-top: 8vh;
}

@media (max-width: 768px){
    #start-link, #top{
        font-size: 1.2rem;
    }
}

#start-link:hover{
    background-color: var(--general-color2);
    color: var(--general-color);
}

#courses{
    position: relative;
    top: 6vh;
    background-color: var(--color2);
    padding-top: 5vh;
    padding-bottom: 2vh;
    animation: courses 2s linear 1;
}

.course-link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    border: 2px ridge #000;
    border-radius: 10px;
    padding: 0.2% 0.2%;
    margin: 1vh auto;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bolder;
    color: #fff;
    background-color: var(--color3);
}

@media (max-width: 800px) {
    .course-link{
        width: 80%;
        font-size: 1rem;
    }
}

.course-link:hover{
    background-color: tomato;
    color: #000;
}

.course-logo{
    width: 40px;
    height: 40px;
    margin-left: 3%;
    margin-right: 5%;
}

#user-input{
    position: relative;
    top: 6vh;
    background-color: saddlebrown;
    padding-bottom: 5vh;
}

#email{
    display: block;
    margin: 1vh auto 0 auto;
    width: 40%;
    font-size: 1.2rem;
    border-radius: 5px;
    text-align: center;
}

@media (max-width: 481px){
    #email::placeholder{
        font-size: 1rem;
    }
}

#submit, #top{
    width: 20%;
    display: block;
    margin: 1vh auto 0 auto;
    font-weight: bolder;
    font-size: 100%;
    background-color: var(--general-color);
    color: var(--color5);
    cursor: pointer;
    border-color: var(--color5);
    border-radius: 5px;
    padding: 5px;
}

#submit:hover{
    background-color: var(--color6);
    color: var(--color);
    border-color: var(--general-color);
}


#video{
    width: 50%;
    height: 80%;
    border-radius: 10px;
    display: block;
    margin: 1vh auto 2vh auto;
}

@media (max-width: 768px){
    #video{
        width: 80%;
        height: 100%;
    }
}

footer{
    position: relative;
    top: 6vh;
    background-color: dimgrey;
    color: #000;
    font-family: monospace;
    padding-bottom: 2vh;
}

.contact{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    margin: 1vh auto;
}

.media-icon{
    width: 40px;
    height: 40px;
}

@media (max-width: 1000px){
    .media-icon{
        width: 30px;
        height: 30px;
    }
}

.sec-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vh;
    margin-bottom: 3vh;
    flex-wrap: wrap;
}

@media (max-width: 481px){
    .sec-wrapper{
        font-size: 0.8rem;
    }
}

.footer-link, #title-link{
    color: #0a0a23;
    text-decoration: none;
}

.footer-link:hover{
    color: #d0d0d5;
}

#visible{
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    margin-top: 1vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 768px){
    #visible{
        font-size: 0.8rem;
    }
}

#title-sm{
    color: var(--title-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

#top{
    color: var(--general-color2);
}

@keyframes courses {
    0%{
        transform: scale(4.5) translate(50%, 0);
    }
}